.post-profile-image {
    max-height: 35px;
    max-width: 35px
}

.card-img-top {
    width: 100%;
!important;
    height: 340px;
!important;
    object-fit: cover;
!important;
}


.profile-img-custom {
    height: 150px;
}
